/laskarit/viikko2/Maksukortti/Maksukortti/nbproject/
/laskarit/viikko2/Maksukortti/Maksukortti/target/
/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/nbproject/
Molkkymestari/target
/molkkymestari/Molkkymestari/target/
/molkkymestari/Molkkymestari/nbproject/